description: "one type  Dale's law 0.55"
dataset: "signal_chaotic_Dale_1"

simulation:
  connectivity_type: "chaotic"
  connectivity_init: [0, 0.1]
  # params: [a, b, g, s, w, h]
  # a: decay, b: offset, g: gain, s: self-recurrence, w: width, h: threshold   MLP1((u-h)/w)
  params: [[1.0, 0.0, 10.0, 0.0, 1.0, 0.0], [1.0, 0.0, 10.0, 0.0, 1.0, 0.0]]
  phi: "tanh"
  n_neurons: 100
  n_neuron_types: 1
  n_frames: 10000
  delta_t: 0.01
  dpos_init: 0
  boundary: "no"
  start_frame: -100

  Dale_law: True
  Dale_law_factor: 0.65

graph_model:
  signal_model_name: "PDE_N4"
  particle_model_name: ""
  mesh_model_name: ""
  prediction: "first_derivative"

  input_size: 3
  output_size: 1
  hidden_dim: 64
  n_layers: 3

  input_size_update: 3
  n_layers_update: 3
  hidden_dim_update: 64

  aggr_type: "add"
  embedding_dim: 2
  update_type: "none"

plotting:
  colormap: "tab10"
  arrow_length: 1
  xlim: [-5, 5]
  ylim: [-2, 2]

training:
  n_epochs: 10
  n_runs: 1
  device: "auto"

  batch_size: 8
  small_init_batch_size: False
  training_single_type: True

  seed: 24

  data_augmentation_loop: 100

  sparsity: "replace_embedding_function"
  sparsity_freq: 4
  cluster_method: "distance_plot"
  fix_cluster_embedding: True

  learning_rate_W_start: 1.0E-3
  learning_rate_start: 5.0E-4
  learning_rate_embedding_start: 2.5E-4

  coeff_W_L1: 1.0E-5
  coeff_edge_norm: 0.0
  coeff_edge_diff: 100
