name: neural-gnn
channels:
  - conda-forge
  - defaults

dependencies:
  # Core
  - python=3.12.7
  - pip=24.3.1

  # Use OpenBLAS / LLVM-OpenMP to avoid mixing OpenMP runtimes
  - "libblas=*=*openblas*"
  - "liblapack=*=*openblas*"
  - llvm-openmp=19.1.0

  # Scientific / data stack
  - numpy=2.3.3
  - scipy=1.16.2
  - pandas=2.2.3
  - matplotlib=3.10.0
  - seaborn=0.13.2
  - scikit-image=0.24.0
  - dask=2024.12.1
  - umap-learn=0.5.7
  - networkx=3.4.2
  - prettytable=3.12.0
  - pyyaml=6.0.2
  - tqdm=4.67.1
  - tensorboard=2.18.0
  - imageio=2.36.1
  - tifffile=2024.12.12
  - shapely=2.0.6
  - pydantic=2.10.3
  - astropy=7.0.0
  - pyvista=0.44.2
  - vtk=9.3.1
  - opencv=4.10.0
  - pyqt=5.15.10
  - pysr=1.3.1
  - pytables=3.10.1
  - ipython=8.30.0
  - ipykernel=6.29.5
  - jupytext=1.16.6
  - gputil=1.4.0
  - napari=0.5.4
  - ruff=0.8.3
    - xarray=2026.1.0

  - pip:
      # Get CUDA 13.0 wheels
      - --extra-index-url https://download.pytorch.org/whl/cu130
      - torch==2.9.0
      - torchvision==0.24.0
      - torchaudio==2.9.0
      - tensorstore==0.1.68

      # Additional pip-only packages:
      - geomloss==0.2.6
      - torch_geometric==2.7.0
      - torchdiffeq==0.2.5
      - vedo==2024.5.2
      - joblib==1.4.2
      - ninja==1.11.1.2
      - commentjson==0.9.0
      - -e ..

